.form-wrapper {
	background-color: $primary-white;
	border-top: 5px solid $secondary-blue;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
	padding-top: 20px;
	padding-bottom: 20px;
	.post-form {
		padding-left: 10px;
		padding-right: 10px;
		.form-body {
			.input-group {
				label, .category-title {
					display: block;
					font-weight: bold;
					font-size: 1rem;
					line-height: 1.4;
					@include breakpoint(large) {
						font-size:1.2rem;
					}
				}
				.category-items {
					@include flex();
					@include flex-align(left, middle);
					justify-content: space-between;
					label {
						background:$primary-blue;
						color:$primary-white;
						text-transform: capitalize;
						text-align:center;
						width:calc(33.333% - 5px);
						padding:9px 4px;
						position: relative;
						cursor: pointer;
						font-size:1rem;
						box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
						&.active {
							background-color: darken( $secondary-white, 10% );
							color: darken( $secondary-blue, 5% );
						}
						input {
							visibility: hidden;
							position: absolute;
						}
					}
				}
			}
			.input-group-wrapper {
				.input-group {
					&:first-child() {
						@include breakpoint(large) {
							margin-right:10px;
						}
					}
				}
				@include breakpoint(large) {
					@include flex();
					@include flex-align(center, top);
				}
			}
		}
		.form-footer {
			@include flex();
			@include flex-align(right, middle);
			.cancel-button, .save-button {
				font-weight: bold;
				box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
				padding: 9px 15px;
				line-height:1;
				color: $primary-white;
				border: none;
				cursor: pointer;
			}
			.cancel-button {
				background-color: #e74c3c;
				margin-right: 10px;
			}
			.save-button {
				background-color: #2ecc71;
				@include css-transition(all, .25s, ease);
				&:disabled {
					background:#ddd;
				}
			}
			@include breakpoint(large) {
				font-size:1.1rem;
			}
		}
		@include breakpoint(large) {
			padding-left:15px;
			padding-right:15px;
		}
	}
}
