.main-content-area {
	width:100%;
	height:auto;
	display:block;
	padding:15px;
	padding-bottom:60px;
	@include breakpoint(medium) {
		width:70%;
		margin-left:30%;
		padding:20px;
		padding-bottom:60px;
	}
	@media (min-width:900px) {
		width:calc(100% - 270px);
		margin-left:270px;
		max-width:1400px;
	}
}