.comment-edit-wrapper {
	.edit-comment-header {
		span {
			font-weight: bold;
			font-size: 1.4rem;
			@include breakpoint(medium) {
				font-size: 1.6rem;
			}
			@include breakpoint(large) {
				font-size: 1.8rem;
			}
		}
	}
	.comment-edit-footer {
		.input-group {
			@include flex-align(right, middle);
			flex-direction: row;
			.submit-edit, .cancel-edit {
				font-weight: bold;
				box-shadow: 2px 2px 3px rgba(0,0,0,0.4);
				padding: 9px 15px;
				line-height:1;
				color: $primary-white;
				border: none;
				cursor: pointer;
			}
			.cancel-edit {
				background-color: #e74c3c;
				margin-right: 10px;
			}
			.submit-edit {
				margin:0;
				background-color: #2ecc71;
			}
		}
	}
}
