body {
	font-family: 'Questrial', sans-serif;
	color: $primary-black;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Varela Round', sans-serif;
	color: $secondary-blue;
}

a {
	color: $primary-blue;
	@include css-transition(all, .25s, ease);
	transition-property: color, background-color;
	&:hover, &:active, &:focus {
		color: lighten($primary-blue, 24%);
	}
}
.button {
	color: $primary-white;
	background-color: $primary-blue;
	&:hover, &:active, &:focus {
		background-color: $secondary-blue;
	}
}